dukpy
requests
pycryptodome
pysnmp
flask_apscheduler
celery
transitions
flask_bcrypt
#SQLAlchemy==0.9.10
SQLAlchemy>=1.3.11
#Flask-SQLAlchemy==2.1
Flask-SQLAlchemy
flask_login
redlock
MySQL-connector-python
paramiko