.welcome_message {
    color: white;
}

.server-container {
    width: 100%;
    overflow: auto;
    margin-top: 5px;
}

.square-resa {
    width: 200px;
    height: 120px;
    border: 1px solid #17a2b8;
    border-radius: 8px;
    padding-top: 3px;
    margin: 2px;
    text-align: center;
    float: left;
}

.deployment-name {
    font-style: italic;
    font-size: 14px;
}

.select-nodes {
    height: 60px;
}

.node-list {
    color: #17a2b8;
}

.btn-size {
    width: 120px;
}

.grey-border {
    border: 2px solid #FAFAFA;
}

.table-title {
    padding: 10px;
    margin-bottom: 0px;
    background-color: #FAFAFA;
}

.shell-link {
    margin-left: 6px;
    margin-right: 6px;
}

.btn-user {
    width: 200px;
}

.fill-user {
    height: 240px
}

.grid-user .row {
    margin-top: 4px;
}

.grid-user .tab-pane {
    height: 500px;
}

.input-user {
    width: 390px;
}

.text-console {
    font-family: monospace;
}

/* state colors */
.in_selection {
    background-color: #7d9bff;
}

.initialized {
    background-color: #ece4ff;
}

.free {
    background-color: #17a2b8;
}

.in_use {
    background-color: #ff7d7d;
}

/* Deploying nodes */
.nfs_boot_conf {
    background-color: #E97DFF;
}

.nfs_boot_off {
    background-color: #E286F7;
}

.nfs_boot_on {
    background-color: #DB8EF0;
}

.env_copy {
    background-color: #D397E8;
}

.env_check {
    background-color: #CCA0E0;
}

.delete_partition {
    background-color: #C5A8D8;
}

.create_partition {
    background-color: #BEB1D1;
}

.mount_partition {
    background-color: #B7BAC9;
}

.resize_partition {
    background-color: #AFC2C1;
}

.wait_resizing {
    background-color: #A8CBB9;
}

.system_conf {
    background-color: #A1D4B2;
}

.user_conf {
    background-color: #9ADCAA;
}

.user_script {
    background-color: #93E5A2;
}

.deployed {
    background-color: #7DFF8B;
}

/* Rebooting nodes */
.off_requested {
    background-color: #ffe496;
}

.on_requested {
    background-color: #fffd96;
}

.rebooting {
    background-color: #e6ff96;
}

/* Destroying nodes */
.destroy_request {
    background-color: #fd7dff;
}

.destroying {
    background-color: #da7dff;
}

.destroyed {
    background-color: #b67dff;
}

/* Save environments */
.img_create_part {
    background-color: #ffff99;
}

.img_format_part {
    background-color: #f2ff98;
}

.img_copy {
    background-color: #e5ff96;
}

.img_copy_check {
    background-color: #d8ff95;
}

.img_customize {
    background-color: #cbff93;
}

.img_compress {
    background-color: #cbff93;
}

.img_compress_check {
    background-color: #beff92;
}

.img_upload {
    background-color: #b1ff91;
}

.upload_check {
    background-color: #a4ff8f;
}

/* End of state colors */

.slider_input {
    height: 10px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #333333, 0px 0px 1px #444444;
  border: 1px solid #000000;
  height: 16px;
  width: 10px;
  border-radius: 3px;
  background: #FAFAFA;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
