.welcome_message {
    color: white;
}

.server-container {
    width: 100%;
    height: 700px;
    overflow: auto;
    margin-top: 5px;
}

.square-resa {
    width: 200px;
    height: 120px;
    border: 1px solid #17a2b8;
    border-radius: 8px;
    padding-top: 3px;
    margin: 2px;
    text-align: center;
    float: left;
}

.deployment-name {
    font-style: italic;
    font-size: 14px;
}

.select-nodes {
    height: 60px;
}

.node-list {
    color: #17a2b8;
}

.btn-size {
    width: 120px;
}

.grey-border {
    border: 2px solid #FAFAFA;
}

.table-title {
    padding: 10px;
    margin-bottom: 0px;
    background-color: #FAFAFA;
}

.shell-link {
    margin-left: 6px;
    margin-right: 6px;
}

/* state colors */
.in_selection {
    background-color: #7d9bff;
}

.initialized {
    background-color: #ece4ff;
}

.free {
    background-color: #17a2b8;
}

.in_use {
    background-color: #ff7d7d;
}

.nfs_boot_conf {
    background-color: #E97DFF;
}

.nfs_boot_off {
    background-color: #E286F7;
}

.nfs_boot_on {
    background-color: #DB8EF0;
}

.env_copy {
    background-color: #D397E8;
}

.env_check {
    background-color: #CCA0E0;
}

.delete_partition {
    background-color: #C5A8D8;
}

.create_partition {
    background-color: #BEB1D1;
}

.mount_partition {
    background-color: #B7BAC9;
}

.resize_partition {
    background-color: #AFC2C1;
}

.wait_resizing {
    background-color: #A8CBB9;
}

.system_conf {
    background-color: #A1D4B2;
}

.user_conf {
    background-color: #9ADCAA;
}

.last_check {
    background-color: #93E5A2;
}

.deployed {
    background-color: #7DFF8B;
}

.off_requested {
    background-color: #ffe496;
}

.on_requested {
    background-color: #fffd96;
}

.reboot_check {
    background-color: #e6ff96;
}

.destroy_request {
    background-color: #fd7dff;
}

.destroying {
    background-color: #da7dff;
}

.destroyed {
    background-color: #b67dff;
}
/* End of state colors */
