<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for("static", filename="img/picloud.ico") }}">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="{{ url_for("static", filename="css/login.css") }}" rel="stylesheet">

    <style>
        .form-group {
            text-align: left;
        }
    </style>
</head>

<body class="text-center">
<form class="form-signin" action="{{ url_for("login.signup") }}" method="POST">
      <img class="" src="{{ url_for("static", filename="img/logo.png") }}" alt="picloud fog logo" height="150">
    <br/>
    <br/>
    <h2 class="form-signin-heading">Sign up</h2>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
    </div>
    <div class="form-group">
        <label for="email">First Name</label>
        <input type="text" name="firstname" class="form-control" placeholder="First name" required autofocus>
    </div>
    <div class="form-group">
        <label for="email">Last name</label>
        <input type="text" name="lastname" class="form-control" placeholder="Last name" required autofocus>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <input type="password" name="confirm_password" class="form-control" placeholder="Confirm password" required>
        <input type="hidden" name="next_url" value="{{ next_url }}">
    </div>
    <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </div>

    <div class="form-group">
        <p class="text-muted text-center">If you already have an account, please
            <a href="{{ url_for("login.login") }}">Login!</a>
        </p>
    </div>
</form>
</body>
</html>


{% block body %}

{% endblock %}