[Unit]
Description=PiSeduce Web Interface
 
[Service]
Type=simple
User=pipi
Group=pipi
WorkingDirectory=/home/pipi/seduce_pp
ExecStart=/usr/bin/python3 /home/pipi/seduce_pp/app.py
TimeoutStopSec=20
 
Restart=on-failure
# Configures the time to wait before service is stopped forcefully.
 
[Install]
WantedBy=multi-user.target
