{% extends "layout.html.jinja2" %}

{% block content %}
    <main role="main" class="container">
        <div id="log_content" class="my-3 p-4 bg-white rounded shadow-md text-console">
            <h4>Configuration in progress</h4>
            <div class="my-3 p-3 rounded border text-dark"
                style="height: 400px; background-color:  #fbf7c4;">
                <div v-for="l in log">
                    [[ l ]]
                </div>
            </div>
        </div>
    </main>
    <script src="{{ url_for("static", filename="js/vue") }}"></script>
    <script>
        const app = new Vue({
            el: '#log_content',
            data: {
                term: '',
                log: 'Loading...',
                noResults: false,
                loading: true
            },
            methods: {
                fetch_log: function () {
                    fetch("{{ url_for("app_api.conf_log") }}")
                        .then(res => res.json())
                        .then(res => {
                            this.log = res.data;
                        });
                },
                reload_all_data: function () {
                    this.fetch_log();
                    this.loading = false;
                }
            },
            beforeMount: function () {
                this.reload_all_data();
                this.loading = true;
                setInterval(function () {
                    this.reload_all_data();
                }.bind(this), 2000);
            },
            delimiters: ['[[', ']]']
        });
    </script>
{% endblock %}
