{% extends "layout.html.jinja2" %}

{% block css %}
<script src="{{ url_for("static", filename="js/jquery-3.4.1.slim.min.js") }}"></script>
<script src="{{ url_for("static", filename="js/codemirror.js") }}"></script>
<link rel="stylesheet" href="{{ url_for("static", filename="css/codemirror.css") }}">
<script src="{{ url_for("static", filename="js/shell.js") }}"></script>

<style>
.CodeMirror {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
</style>
{% endblock %}

{% block content %}
    <main role="main" class="container">
      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6>Please provide the following information to deploy the following nodes:</h6>
        <div class="border-bottom border-gray pb-2 mb-0">
            {% for name in server_names %}
                <span class="node-list">{{ name }},</span>
            {% endfor %}
        </div>
        <br/>
        <form action="{{ url_for("app.process_take") }}" method="post">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Duration (hour)</label>
                <input type="text" class="form-control" id="duration" name="duration" placeholder="" value="1" required>
                <div class="invalid-feedback">
                  Valid duration is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <select class="custom-select d-block w-100" id="environment" name="environment" required>
                    {% for environment in environments %}
                    <option value="{{ environment.name }}">{{ environment.name }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                  Valid environment is required.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="firstName">Name</label>
                <input class="form-control" id="name" name="name" type="text" required></input>
                <div class="invalid-feedback">
                  The name is required to identify your deployment.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="c9password">System password (default account: <i>admin</i>, default password: <i>admin</i>)
                </label>
                <input class="form-control" id="c9pwd" name="c9pwd" type="text"></input>
                <div class="invalid-feedback">
                  The C9 password is used to secure the access to your node.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="firstName">SSH Public key</label>
                <textarea class="form-control" rows="5" id="public_key" name="public_key"></textarea>
                <div class="invalid-feedback">
                  A valid public key is required.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="init_script">Init script</label>
                <textarea class="form-control" rows="5" id="init_script" class="shell_code" name="init_script">
                </textarea>
                <div class="invalid-feedback">
                  A valid init script is required.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <input class="btn btn-primary float-right" type="submit" value="Deploy">
                <a class="btn btn-danger float-right mr-2" href="/server/cancel">Cancel</a>
              </div>
            </div>
        </form>
      </div>
    </main>

    <script>
  var editor = CodeMirror.fromTextArea(document.getElementById('init_script'), {
    mode: 'shell',
    lineNumbers: true,
    matchBrackets: true
  });
</script>

{% endblock %}
