{% extends "layout.html.jinja2" %}

{% block content %}
    <main role="main" class="container">

        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Deployments</h6>
            {% for deployment in user_deployments %}
                <div class="media text-muted pt-3">
                    <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <strong class="text-gray-dark">{{ deployment.server.name }}</strong>
                            <a href="{{ url_for("app.ask_destruction", deployment_id=deployment.id) }}">Free</a>
                        </div>
                        <span class="d-block">{{ deployment.server.ip }}</span>
                        <span class="d-block">state: <span id="state_deployment_{{ deployment.id }}">{{ deployment.state }}</span></span>
                        <span class="d-block"  id="progress_deployment_{{ deployment.id }}"></span>
                    </div>
                </div>
                <script>
                    setInterval(function () {
                        let periodic_update = $.ajax({
                            url: '{{ url_for("app_api.deployment", deployment_id=deployment.id) }}',
                            type: 'GET',
                            dataType: "json",
                            success: function (data) {
                                if(data["status"] == "ok") {
                                    let deployment_state = data["deployment"]["state"];
                                    let deployment_progress = data["deployment"]["label"];
                                    $("#state_deployment_{{ deployment.id }}")[0].innerHTML = deployment_state;
                                    if (deployment_state == "environment_deploying" && deployment_progress != undefined) {
                                        $("#progress_deployment_{{ deployment.id }}")[0].innerHTML = "progress: <i>"+deployment_progress+"</i>";
                                    } else {
                                        $("#progress_deployment_{{ deployment.id }}")[0].innerHTML = "";
                                    }
                                }
                            }
                        });
                    }, 5000);
                </script>
            {% endfor %}
            <small class="d-block text-right mt-3">
                <a href="#">All servers</a>
            </small>
        </div>
    </main>

    <main role="main" class="container">

        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Available servers</h6>

            {% for server in available_servers %}
                <div class="media text-muted pt-3">
                    <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <strong class="text-gray-dark">{{ server.name }}</strong>
                            <a href="{{ url_for("app.take", server_id=server.id) }}">Take</a>
                        </div>
                        <span class="d-block">{{ server.ip }}</span>
                    </div>
                </div>
            {% endfor %}

            <small class="d-block text-right mt-3">
                <a href="#">All servers</a>
            </small>
        </div>
    </main>

{% endblock %}