{% extends "layout.html.jinja2" %}

{% block content %}

    <style>
        .status-badge {
            width: 50px;
            height: 50px;
        }
    </style>

    <div id="app" v-cloak>
        <main role="main" class="container">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h4>Dernières modifications</h4>
                <h6>
                    L'environnement <b>raspbian_buster</b> est disponible. C'est une version plus récente que l'environnement
                    <i>raspbian_cloud9</i> sans l'IDE cloud9.
                </h6>
            </div>
        </main>
        <main role="main" class="container">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <div class="border-bottom border-gray pb-2 mb-0">
                    <div class="select-nodes">
                        <h6>Selected nodes (click on free nodes to select/unselect them): <span id="mynodes" class="node-list"></span></h6>
                    </div>
                    <a id="deploy-fct">
                        <center><button type="button" class="btn btn-outline-info">Deploy</button></center>
                    </a>
                </div>
                <div class="server-container">
                    <div v-for="s in servers" class="result square-resa" onclick="selectNode(this)"
                         v-bind:id=s.id>
                        <div>
                            <div>[[ s.name ]]</div>
                            <div>[[ s.ip ]]</div>
                            <div v-bind:class="[[ s.state ]]">[[ s.state.substring(0,18) ]]</div>
                            <div v-if="[[ s.state ]] == 'free'" class="deployment-name">Ready to deploy</div>
                            <div v-if="[[ s.state ]] != 'free'" class="deployment-name">[[ s.dname.substring(0,18) ]]</div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <main role="main" class="container">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">Deployments</h6>
                <div class="accordion" id="accordionExample">
                  <div v-for="deployment in user_deployments" class="card">
                    <div class="card-header bg-white" v-bind:id="'heading-' + [[ deployment.ids[0] ]]" style="height: 4rem;">
                        <div>
                            [[ deployment.name ]]: <span class="node-list">[[ deployment.server_names ]]</span>
                            <a v-if="[[ deployment.state ]] != 'destruction_requested' && [[ deployment.state ]] != 'destroying'" href="#" class="shadow-none btn btn-outline-info btn-size float-right" data-toggle="collapse" v-bind:data-target="'#collapse-' + [[ deployment.ids[0] ]]" aria-expanded="true" v-bind:aria-controls="'collapse-' + [[ deployment.ids[0] ]]">More Info</a>
                            <a v-if="[[ deployment.state ]] != 'destruction_requested' && [[ deployment.state ]] != 'destroying'" :href="'/deployment/destroy/' + deployment.ids" class="btn btn-outline-danger btn-size float-right mr-3">Destroy</a>
                        </div>
                    </div>
                    <div v-bind:id="'collapse-' + [[ deployment.ids[0] ]]" class="collapse" :aria-labelledby="'heading-' + [[ deployment.ids[0] ]]" data-parent="#accordionExample">
                      <div class="card-body">
							<table class="table">
							  <thead>
								<tr>
								  <th scope="col">Name</th>
								  <th scope="col">Identifier</th>
								  <th scope="col">IP address</th>
								  <th scope="col">Model</th>
								  <th scope="col">Environement</th>
								  <th scope="col">State</th>
                                  <th scope="col" v-if="[[ deployment.server_infos[0].env ]] == 'raspbian_cloud9'">Password</a>
								  <th scope="col">Actions</th>
								</tr>
							  </thead>
							  <tbody>
									<tr v-for="n in deployment.server_infos">
										<th scope="row">[[ n.name ]]</td>
										<td>[[ n.id ]]</td>
										<td>[[ n.ip ]]</td>
										<td>[[ n.model ]]</td>
										<td>[[ n.env ]]</td>
                                        <td v-if="[[ n.env ]] == 'raspbian_cloud9'">[[ n.state.substring(0, 20) ]]</td>
                                        <td v-if="[[ n.env ]] != 'raspbian_cloud9'">[[ n.state ]]</td>
                                        <td v-if="[[ n.env ]] == 'raspbian_cloud9'">
                                            <button type="button" class="btn btn-outline-dark" data-toggle="tooltip"
                                            data-placement="bottom" :title="[[ n.password ]]" onclick="copyToClipboard(this)">
                                                Copy to clipboarb
                                            </button>
                                        </td>
										<td>
                                            <div class="dropdown">
                                              <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Actions
                                              </button>
                                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a :href="'/server/redeploy/' + [[ n.id ]]" class="dropdown-item">Deploy again</a>
                                                <a :href="'/server/reboot/' + [[ n.id ]]" class="dropdown-item">Hard Reboot</a>
                                                <a v-if="[[ n.state ]] == 'deployed' && [[ n.env ]] == 'raspbian_cloud9'" :href=n.webui target="_blank" class="dropdown-item">C9 Interface</a>
                                                <a v-if="[[ n.state ]] == 'deployed' && [[ n.env ]] == 'raspbian_jupyter'" :href=n.webui target="_blank" class="dropdown-item">Jupyter Interface</a>
                                              </div>
                                            </div>
										</td>
									</tr>
							  </tbody>
							</table>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </main>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
        function selectNode(node) {
            var nodeState = node.children[0].children[2].className;
            if(nodeState != "in_use") {
                switch (nodeState) {
                    case "free":
                        node.children[0].children[2].className = "in_selection";
                        break;
                    case "in_selection":
                        node.children[0].children[2].className = "free";
                        break;
                }
                var mynodes = document.getElementsByClassName("in_selection");
                var names = "";
                var ids = "";

                Array.from(mynodes).forEach(function (n) {
                    names += n.parentNode.children[0].innerHTML + ", ";
                    ids += n.parentNode.parentNode.id + ",";
                });
                // Remove both the last space and the last comma
                names = names.substring(0, names.length - 2);
                // Remove the last comma
                ids = ids.substring(0, ids.length - 1);
                document.getElementById("mynodes").innerText = names;
                if (names.length == 0) {
                    document.getElementById("deploy-fct").setAttribute('href', "");
                } else {
                    document.getElementById("deploy-fct").setAttribute('href', "/server/take/" + ids+";"+names);
                }
            }
        }
        
        function copyToClipboard(str) {
            const el = document.createElement('textarea');
            el.value = str.title;
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);
            //alert('You can paste your password: ' + str.title)
        }

        Vue.filter('formatDate', function (d) {
            if (!window.Intl) return d;
            return new Intl.DateTimeFormat('en-US').format(new Date(d));
        });

        const app = new Vue({
            el: '#app',
            data: {
                term: '',
                servers: [],
                user_deployments: [],
                noResults: false,
                loading: true
            },
            methods: {
                fetch_available_servers: function () {
                    fetch("{{ url_for("app_api.available_servers") }}")
                        .then(res => res.json())
                        .then(res => {
                            this.servers = res.server_info;
                        });
                },
                fetch_user_deployments: function () {
                    fetch("{{ url_for("app_api.user_deployments") }}")
                        .then(res => res.json())
                        .then(res => {
                            this.user_deployments = res.deployments;
                        });
                },
                reload_all_data: function () {
                    this.fetch_available_servers();
                    this.fetch_user_deployments();
                    this.loading = false;
                }
            },
            beforeMount: function () {
                this.reload_all_data();
                this.loading = true;
                setInterval(function () {
                    this.reload_all_data();
                }.bind(this), 5000);
            },
            delimiters: ['[[', ']]']
        });
    </script>
{% endblock %}
