<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for("static", filename="img/picloud.ico") }}">

    <title>Baremetal RaspberryPi as a service</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for("static", filename="css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="css/default.css") }}" rel="stylesheet">

    {% block css %}
    {% endblock %}
  </head>

  <body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
      <img src="{{ url_for("static", filename="img/logo.png") }}" width="45" height="30"
        class="d-inline-block align-top" alt="">
      <a class="navbar-brand" href="{{ url_for("app.home") }}">Pi'aaS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for("app.home") }}">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for("app.user") }}">Settings<span class="sr-only">(current)</span></a>
          </li>
          <!-- This page overloads the switch, do not use it before upgrading the switch
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for("switch_api.ports") }}">Switch</a>
          </li>
          <!-- -->
          {% if current_user.is_admin %}
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for("app_admin.generate_config") }}">Configuration</a>
          </li>
          {% endif %}
        </ul>
        <span class="form-inline my-2 my-lg-0">
            {% if current_user.is_authenticated %}
                <span class="welcome_message" class="nav-item">Hi {{ current_user.id }}!</span>
                <a class="nav-link" href="{{ url_for("login.logout") }}">Logout</a>
            {% else %}
                <a class="nav-link" href="{{ url_for("login.login") }}">Sign in</a>
            {% endif %}
        </span>
      </div>
    </nav>

    <br/>
    <br/>
    <br/>

    <main role="main" class="container">
      {% block content %}
      {% endblock %}
    </main>

    <script src="{{ url_for("static", filename="js/jquery-3.3.1.js") }}"></script>
    <script src="{{ url_for("static", filename="js/popper.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/bootstrap.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/holder.min.js") }}"></script>

    {% block js %}
    {% endblock %}
  </body>
</html>
